{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>걸음걸이_RECORD</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/record/before_record.css' %}">
    <link rel="icon" href="{% static 'image/geoleum.png' %}">
</head>
<body>
    <div class="landing__layout">
        <div class="landing__container">
            <div class="before__r_outer_circle">
                <div class="before__r_inner_circle">
                    <div class="before__r_countdown">
                        <p id="ready_countdown">3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/record/before_record.js' %}"></script>
</html>