<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동 기록</title>
</head>
<body>
    <h1>📅 {{ date }}의 운동 기록</h1>
    
    {% if records %}
        <ul>
            {% for record in records %}
                <li>
                    <strong>날짜:</strong> {{date}} <br>
                    <strong>시작 시간:</strong> {{ record.start_time|date:"H:i"}} <br>
                    <strong>시작 시간:</strong> {{ record.end_time|date:"H:i"}} <br>
                    <strong>운동 시간:</strong> {{ record.time }} <br>
                    <strong>이동 거리:</strong> {{ record.distance }} km <br>
                    <strong>페이스:</strong> {{ record.pace }} 분/km <br>
                    <strong>소모 칼로리:</strong> {{ record.calories }} kcal <br>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>운동 기록이 없습니다.</p>
    {% endif %}

    <a href="/">🏠 홈으로 가기</a>
</body>
</html>
