a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

textarea {
  all: unset;
  display: block;
  width: 237px;
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 3px;
  margin-top: 3px;
}

body {
  text-align: center;
}

.landing__layout {
  background: linear-gradient(180deg, var(--background-beige) 0%, var(--white) 100%);
}

.body_container {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
}

.link-ranking {
  position: absolute;
  left: 79.8%;
  top: 3.3%;
  z-index: 10;
}

.ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
  position: relative;
  top: -13px;
  left: -0.4px;
}
.to-ranking > svg {
  transition: transform 0.3s ease;
}
.to-ranking > svg:hover {
  transform: scale(1.1);
}

.together_header {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.home-icon {
  position: relative;
  bottom: 10px;
}
.home-icon > svg {
  transition: transform 0.3s ease;
}
.home-icon > svg:hover {
  transform: scale(1.1);
}

.together_title_text_all {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding-left: 3px;
}

.together_title_text_red {
  color: var(--red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.together_title_text {
  color: var(--soft-red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-left: 10px;
}

/* 여기까지 공통 */
.post_box {
  width: 350px;
  border-radius: 10px;
  border: 4px solid var(--light-gray);
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 7px;
  margin-top: 30px;
}

.post_box_all {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  padding: 14px;
}

.post_top_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_title {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 7px;
}

.post_delete svg {
  width: 35px;
  height: 41px;
}

.post_writer {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.post_writer_name {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.post_img {
  width: 230px;
  height: fit-content;
  margin-inline: auto;
  border-radius: 20px;
  background: url(<path-to-image>) var(--light-gray) 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.post_content {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.post_content_text {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.comment_box {
  width: 350px;
  border-radius: 10px;
  border: 4px solid var(--light-gray);
  background: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 7px;
  margin-top: 15px;
}

.comment_box_all {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  padding: 14px;
}

.comment_1 {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.comment_content > p {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 5px;
}

.comment_context {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 5px;
}

.comment_input {
  display: flex;
  flex-direction: row;
}

.comment_input_box {
  width: 250px;
  height: 35px;
  border-radius: 11px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-top: 2px;
}

.comment_register {
  width: 48px;
  height: 35px;
  border-radius: 14px;
  background: var(--deep-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.comment_register:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 140px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}

.together_btn {
  width: 175px;
  height: 44px;
  border-radius: 17px;
  background: var(--deep-brown);
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  margin: 30px auto;
  cursor: pointer;
}

.together_btn > a:hover,
.together_btn > a:visited {
  color: var(--white);
}

.together_btn:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.back_to_list_btn {
  display: flex;
  align-items: center;
}

.back_to_list {
  font-size: 22px;
  font-weight: 400;
  margin-left: 5px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Kartrider Kor OTF", sans-serif;
}

.modal_content button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--deep-brown);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Kartrider Kor OTF", sans-serif;
}

.modal_content button:hover {
  background-color: var(--deep-brown);
}
