a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

textarea {
  all: unset;
  display: block;
  width: 300px;
  height: 140px;
  margin-top: 8px;
  color: var(--deep-brown);
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

input {
  all: unset;
  display: block;
  width: 100%;
  max-width: 300px;
  color: var(--deep-brown);
  font-size: 16px;
  margin-top: 8px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.landing__layout {
  background: linear-gradient(180deg, var(--background-beige) 0%, var(--white) 100%);
}

.body_container {
  padding: 0px;
  padding-left: 20px;
  position: relative;
}

.link-ranking {
  position: absolute;
  left: 80%;
  top: 2%;
  z-index: 10;
}

.ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
  position: relative;
  top: -9px;
}
.to-ranking > svg {
  transition: transform 0.3s ease;
}
.to-ranking > svg:hover {
  transform: scale(1.1);
}

.together_header {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.home-icon {
  position: relative;
  top: 7px;
}
.home-icon > svg {
  transition: transform 0.3s ease;
}
.home-icon > svg:hover {
  transform: scale(1.1);
}

.together_title_text_all {
  display: flex;
  flex-direction: column;
}

.together_title_title {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-left: 3px;
}

.together_title_text_red {
  color: var(--red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 51px;
  font-weight: 900;
}

.together_title_text {
  color: var(--soft-red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 51px;
  font-weight: 900;
  margin-left: 10px;
}

.together_title_explain {
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 4px;
  margin-top: 8px;
}

.post_title_box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 4px;
}

.post_title_title {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: start;
}

.post_title_input {
  width: 313px;
  height: 43px;
  border-radius: 11px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-top: 8px;
}

.post_picture_box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 4px;
}

.post_picture_title {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: start;
}

.post_picture_input_and_register {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="file"] {
  display: none; /* 파일 선택 버튼 숨기기 */
}

.post_picture_input {
  width: 237px;
  border-radius: 11px;
  background: var(--white);
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#file-name {
  display: inline-block;
  max-width: 200px; /* 필요에 따라 조정 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 파일명이 너무 길면 '...' 처리 */
  font-size: 16px;
  font-family: "Kartrider Kor OTF", sans-serif;
  color: var(--gray);
}

.post_picture_register {
  width: 63px;
  height: 46px;
  border-radius: 18px;
  background: var(--deep-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 20px;
}
.post_picture_register:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.post_content_box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 4px;
}

.post_content_title {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: start;
}

.post_content_input {
  width: 311px;
  height: 147px;
  border-radius: 11px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-top: 8px;
}

.together_button {
  width: 147px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 17px;
  background: var(--deep-brown);
  box-shadow: 0px 3.771px 3.771px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  cursor: pointer;
}

.together_button:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.runningmate {
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 3px;
  margin-left: 5px;
}

.recommend-btn svg {
  position: relative;
  top: 3px;
}

.together__layout {
  position: relative;
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 140px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}
