a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

body {
  text-align: center;
}

.landing__layout {
  background: linear-gradient(180deg, var(--background_beige, #fff3e9) 0%, var(--white, #fff) 100%);
}

.body_container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px 20px;
}

.link-ranking {
  position: absolute;
  left: 80%;
  top: 2%;
  z-index: 10;
}

.ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
  position: relative;
  top: -9px;
}

.together_header {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  text-align: start;
}

.home-icon {
  position: relative;
  top: 7px;
}

.together_title_text_all {
  display: flex;
  flex-direction: row;

  margin-top: 15px;
  padding-left: 3px;
}

.together_title_text_red {
  color: var(--red, #b82132);
  font-family: "VITRO INSPIRE OTF";
  font-size: 51.238px;
  font-style: normal;
  font-weight: 900;
}

.together_title_text {
  color: var(--soft_red, #d2665a);
  font-family: "VITRO INSPIRE OTF";
  font-size: 51.238px;
  font-style: normal;
  font-weight: 900;
  margin-left: 10px;
}

.center {
  display: flex;
  flex-direction: column;

  padding-top: 8px;

  justify-content: center;
}

.post_box {
  border-radius: 10px;
  border: 4px solid var(--light_gray, #e6e6e6);
  background: var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  margin-top: 20px;
  padding-left: 8px;
  padding-right: 10px;
}

.post_text {
  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

.post_title_and_writer {
  display: flex;
  flex-direction: row;

  padding-bottom: 10px;
}

.post_title {
  color: var(--deep_brown, #76453b);
  font-family: "Kartrider Kor OTF";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  max-width: 165px; /* 제목이 너무 길어지지 않도록 최대 너비 설정 */
  word-wrap: break-word; /* 단어가 길면 자동 줄바꿈 */
  overflow-wrap: break-word; /* 자동 줄바꿈 보조 */
  white-space: normal; /* 줄바꿈 허용 */
}

.post_writer {
  color: var(--gray, #898989);
  font-family: "Kartrider Kor OTF";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  display: flex;
  justify-content: center;

  padding-left: 18px;

  margin-top: 3px;
}

.post_content {
  color: var(--gray, #898989);
  font-family: "Kartrider Kor OTF";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  display: flex;

  margin-bottom: 5px;
}

.post_img {
  width: 78px;
  height: 75.111px;
  flex-shrink: 0;

  border-radius: 13.684px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 2.737px 2.737px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;

  margin-top: 8px;
  margin-bottom: 8px;
}

.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13.684px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-status {
  width: 70px;
}

.pagination-backward,
.pagination-forward {
  display: inline-flex; /* inline 요소이면서 flex 정렬 */
  align-items: center; /* 세로축 가운데 정렬 */
  justify-content: center; /* 가로축 중앙 정렬 (필요하면 추가) */
}

.pagination-status {
  font-family: "Kartrider Kor OTF", sans-serif;
  color: var(--deep-brown);
}

.pagination a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  color: white;
}

.pagination span {
  align-self: center;
  font-size: 16px;
}

svg {
  cursor: pointer; /* 마우스 커서가 손 모양으로 변경되어 클릭할 수 있음을 표시 */
  pointer-events: all; /* 클릭 가능하도록 설정 */
}

.search-container {
  display: flex;
  justify-content: space-around;
}

.together_button {
  width: 231px;
  height: 43.371px;
  flex-shrink: 0;

  border-radius: 16.971px;
  background: var(--deep_brown, #76453b);
  box-shadow: 0px 3.771px 3.771px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  cursor: pointer;
}

.together_button:hover {
  background-color: #967474;
}

.runningmate {
  color: var(--white, #fff);
  font-family: "Kartrider Kor OTF";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 3px;
  margin-left: 5px;
}

.recommend-btn svg {
  position: relative;
  top: 3px;
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 140px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}

/* Footer */
.bottom_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #fff 0%, #f1f8e8 100%);
  padding: 10px 0;
  border-top: 6px solid var(--gray, #898989);
  z-index: 1000;
}

.nav_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 90px;
}

.nav_item:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.nav_item a {
  display: flex;
  flex-direction: column;
}

.nav_icon {
  width: 42px;
  height: 50px;
  object-fit: contain;

  margin-left: 10px;
}

#nav_icon_margin_right {
  margin-right: 8px;
}

.nav_item span {
  font-size: 16px;
  font-weight: 400;
  color: var(--red, #b82132);
  text-align: center;

  font-family: "Kartrider Kor OTF";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}