{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>걸음걸이_로그인</title>
      <link rel="stylesheet" href="{% static 'css/root.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/record/daily_record.css' %}">
      <link rel="stylesheet" href="{% static 'css/user/password_reset.css' %}">
      <link rel="icon" type="image/png" href="{% static 'image/favicon/favicon-96x96.png' %}" sizes="96x96" />
      <link rel="icon" type="image/svg+xml" href="{% static 'image/favicon/favicon.svg' %}" />
      <link rel="shortcut icon" href="{% static 'image/favicon/favicon.ico' %}" />
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-touch-icon.png' %}" />
      <meta name="apple-mobile-web-app-title" content="걸음걸이" />
      <link rel="manifest" href="{% static 'image/favicon/site.webmanifest' %}" />
  </head>
  <body>
    <div class="container_kgi" style="height: 300px;">
      <h2>새 비밀번호 설정</h2>

      <form method="post">
        {% csrf_token %}
        <label for="new_password1">새 비밀번호</label>
        <input type="password" name="new_password1" required>

        <label for="new_password2">새 비밀번호 확인</label>
        <input type="password" name="new_password2" required>

        <button type="submit">비밀번호 변경</button>
      </form>

      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}
  </div>
</body>
</html>
