:root {
  --soft-red: #d2665a;
  --red: #b82132;
  --soft-green: #9abf80;
  --green: #419049;
  --deep-brown: #76453b;
  --background-beige: #fff3e9;
  --light-gray: #e6e6e6;
  --gray: #898989;
  --mint: #f1f8e8;
  --white: #ffffff;
  --black: #000000;
  --peach: #ffa79d;
  --light-skyblue: #c6fffa;
  --light-coral: #ffe5d0;
  --flash-green: #5eff39;
  --flash-purple: #a67dd9;
}

@font-face {
    font-family: 'VITRO INSPIRE OTF';
    font-style: normal;
    src: url('/static/fonts/VITRO_INSPIRE_OTF.otf') format('opentype');
}
@font-face {
    font-family: 'Kartrider Kor OTF';
    font-style: normal;
    src: url('/static/fonts/NEXON_Kart_OTF_Bold.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareOTF_ac';
  font-style: normal;
  src: url('/static/fonts/NanumSquareOTF_acB.otf') format('opentype');
}
@font-face {
  font-family: "Nanum OenSonJabIDoYeBbeo";
  font-style: normal;
  src: url('/static/fonts/나눔손글씨_왼손잡이.ttf') format('truetype');
}