:root {
    --soft-red: #D2665A;
    --red: #B82132;
    --soft-green: #9ABF80;
    --green: #419049;
    --deep-brown: #76453B;
    --background-beige: #FFF3E9;
    --light-gray: #E6E6E6;
    --gray: #898989;
    --mint: #F1F8E8;
    --white: #FFFFFF;
    --black: #000000;
    --peach: #FFA79D;
    --light-skyblue: #C6FFFA;
    --light-coral: #FFE5D0;
    --flash-green: #5EFF39;
    --flash-purple: #A67DD9;
}

@font-face {
    font-family: 'VITRO INSPIRE OTF';
    font-style: normal;
    src: url('./fonts/VITRO INSPIRE OTF.otf') format('truetype');
}
@font-face {
    font-family: 'Kartrider Kor OTF';
    font-style: normal;
    src: url('./fonts/NEXON Kart Gothic Kor OTF Bold.otf') format('truetype');
}