a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

.landing__layout {
  background: var(--background-beige);
}

.title {
  color: var(--soft-red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 67px;
  font-weight: 900;
  line-height: normal;
  padding-left: 55px;
}

.title_red {
  color: var(--red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 67px;
  font-weight: 900;
  line-height: normal;
}

.title_bottom {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.center_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.center_button_box_outside {
  width: 163px;
  height: 108px;
  flex-shrink: 0;
  border-radius: 360px;
  border: 4px solid var(--light-gray);
  background: linear-gradient(180deg, var(--peach) 0%, var(--soft-red) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_button_box_inside {
  width: 127px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 280px;
  border: 8px solid var(--red);
  background: var(--light-coral);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_button_box_inside img {
  fill: var(--red);
}

.center_text1 {
  color: var(--red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}

.center_text2 {
  display: flex;
  flex-direction: row;
}

.center_text2 > span {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-top: 5px;
}

.center_text_aboutus {
  color: var(--gray);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-top: 2px;
}

.lanking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 58px;
  padding-top: 60px;
  width: fit-content;
}

.lanking > svg {
  transition: transform 0.3s ease;
}

.lanking > svg:hover {
  transform: scale(1.1);
}

.lanking svg {
  width: 44.412px;
  height: 45.953px;
  margin-left: 5px;
}

.lanking_text {
  color: var(--red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-weight: 400;
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 180px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}
