a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--black);
}

.landing__layout {
  background: linear-gradient(180deg, var(--background-beige) 0%, var(--white) 100%);
}

.body_container {
  width: 100%;
  height: 100%;
  padding: 33px 20px;
}

.link-ranking {
  position: absolute;
  left: 79.8%;
  top: 3.3%;
  z-index: 10;

  text-align: center;
}

.ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
  position: relative;
  top: -13px;
  left: -0.4px;
}

.to-ranking > svg {
  transition: transform 0.3s ease;
}
.to-ranking > svg:hover {
  transform: scale(1.1);
}

.mypage_header {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.home-icon {
  position: relative;
  bottom: 8px;
}

.home-icon > svg {
  transition: transform 0.3s ease;
}

.home-icon > svg:hover {
  transform: scale(1.1);
}

.mypage_title_text {
  color: var(--soft-red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: normal;
  padding-left: 3px;
}

.center_1_box {
  display: flex;
  flex-direction: row;
}

.center_1,
.center_2 {
  display: flex;
  flex-direction: column;
}

.center_1 {
  margin-top: 40px;
}

.center_2 {
  margin-top: 40px;
}

.center_1_img,
.center_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_2_img {
  margin-bottom: 8px;
}

.center_1_profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.center_1_profile_img {
  width: 87px;
  height: 87px;
  flex-shrink: 0;
  border-radius: 87px;
  border: 3px solid var(--light-gray);
  background: var(--light-gray) 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.center_1_profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.center_1_profile_change {
  width: 78px;
  height: 32px;
  border-radius: 12.5px;
  background: var(--deep-brown);
  box-shadow: 0px 2.783px 2.783px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.center_1_profile_change:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.box_text {
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.center_1_text1,
.center_1_text2,
.center_1_text3,
.center_2_text1,
.center_2_text2,
.center_2_text3 {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}

.center_2_text4 {
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.center_text_red {
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.center_text_red_small {
  color: #c8b955;
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.out_button {
  display: flex;
}

.logout_button {
  width: 100px;
  height: 46px;
  border-radius: 18px;
  background: var(--deep-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
.logout_button:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.secession_button {
  width: 100px;
  height: 46px;
  border-radius: 18px;
  background: var(--soft-red);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
.secession_button:hover {
  background: var(--red);
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25);
}

.out_button_text {
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* 모달 스타일 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모달 내부 콘텐츠 */
.modal-content {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 10px;
}

/* 닫기 버튼 */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* 프로필 미리보기 스타일 */
.profile-preview-box {
  margin-bottom: 10px;
}
.profile-preview-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-upload {
  padding-left: 65px;
  margin-bottom: 10px;
}

/* 기본 파일 업로드 버튼 숨기기 */
.hidden-input {
  display: none;
}

/* 커스텀 파일 선택 버튼 */
.custom-file-btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: var(--soft-red);
  color: var(--white);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px;
  width: 78px;
}

.custom-file-btn:hover {
  background-color: var(--red);
}

.profile-upload-btn {
  display: inline-block;
  background-color: var(--deep-brown);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  color: var(--white);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.profile-upload-btn:hover {
  background-color: var(--deep-brown);
}

.nickname-change-box {
  display: flex;
  align-items: center;
}

.nickname-change-box label {
  margin-right: 9px;
}

.nickname-input {
  width: 180px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid var(--soft-red);
  text-align: center;
  font-size: 16px;
  padding: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.nickname-input:focus {
  border-color: var(--red);
  box-shadow: 0 0 5px rgba(184, 33, 50, 0.5);
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 100px;
  background: linear-gradient(180deg, var(--background-beige) 0%, var(--white) 100%);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}
