<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>걸음걸이_어디걸음</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/wherewalk/coursedetail.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'image/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'image/favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'image/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="걸음걸이" />
    <link rel="manifest" href="{% static 'image/favicon/site.webmanifest' %}" />
  </head>
  <body>
    <div class="landing__layout">
      <div class="wrapper">
        <div class="coursedetail-page-header">
          <div class="coursedetail-title">
            <a href="{% url 'users:success' %}" class="home-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="47" height="57" viewBox="0 -13 47 57" fill="none">
                <path
                  d="M36.4381 26.8837V40.0532C36.4381 41.8312 34.8251 43.2793 32.8327 43.2793H26.9761V31.3566C26.9761 30.2037 26.0426 29.2702 24.8897 29.2702H21.5498C20.3937 29.2702 19.4635 30.2037 19.4635 31.3566V43.2793H13.6068C11.6227 43.2793 10.0014 41.8312 10.0014 40.0532V26.8837C10.1795 26.7947 23.2174 15.2642 23.2174 15.2642C23.2174 15.2642 36.2552 26.7913 36.4334 26.8837H36.4381ZM40.474 21.4953L24.5612 7.88709C23.7976 7.22408 22.6481 7.22408 21.8927 7.88709L5.96518 21.4953C5.17187 22.1798 5.04816 23.3524 5.6782 24.1672C6.01136 24.6141 6.53582 24.9061 7.10156 24.9605C7.16423 24.9687 7.2368 24.9737 7.29947 24.9737C7.78933 24.9737 8.26598 24.8005 8.63378 24.4838L23.222 12.0067L37.8136 24.4872C38.1847 24.7989 38.6531 24.9721 39.1429 24.9721C39.7894 24.9721 40.393 24.6769 40.7691 24.1738C41.3975 23.3541 41.2721 22.1814 40.4772 21.497L40.474 21.4953Z"
                  fill="#B82132"
                />
              </svg>
            </a>
            <div class="coursedetail-title-firstword">어디</div>
            <div class="coursedetail-title-secondword">걸음?</div>
          </div>
        </div>
        <div class="container">
          <div class="course-keywords">
            {% for keyword in course.keywords.all %}
              <span class="course-keyword">#{{ keyword.name }}</span>
            {% endfor %}
          </div>
          <h1 class="course-title">제목: {{ course.title }}</h1>
          <div class="course-detail-information">
            <p class="course-info"><strong class="course-distance">거리:</strong> {{ course.distance }} km</p>
            <p class="course-info"><strong class="course-time">예상 소요 시간:</strong> {{ course.time }} 분</p>
          </div>
          <iframe
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9rHYXZlAKPKq-9pyccVqiesNHJtzMD7U&q={{ course.start_location.latitude }},{{ course.start_location.longitude }}&zoom=15"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
          {% if course.image %}
          <img src="{{ course.image.url }}" alt="{{ course.title }}" class="course-image" />
          {% else %}
          <img src="{% static 'defaultimage/default-image.jpg' %}" alt="기본 이미지" class="course-image" />
          {% endif %}
          <div class="course-introduction"><strong class="course-introduction-start">장소설명: </strong>{{ course.description }}</div>
          {% if request.user == course.user %}
            <form action="{% url 'course:course_delete' course.id %}" method="post" class="delete-form">
              {% csrf_token %}
              <button class="daily__remove_Btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52" fill="none">
                      <path d="M14.5045 38.1817H27.4924C28.5126 38.1817 29.3448 37.3808 29.3851 36.3606L30.0995 17.7245H11.8975L12.6119 36.3606C12.6522 37.3808 13.4843 38.1817 14.5045 38.1817ZM25.1908 20.8896C25.1953 20.56 25.4652 20.3064 25.7933 20.3064C26.123 20.3139 26.384 20.5838 26.381 20.9134L26.1066 35.0155C26.1021 35.3406 25.8366 35.5987 25.5159 35.5987H25.504C25.1744 35.5942 24.9134 35.3212 24.9164 34.9916L25.1908 20.8896ZM20.4032 20.9015C20.4032 20.5719 20.6687 20.3064 20.9983 20.3064C21.3279 20.3064 21.5934 20.5719 21.5934 20.9015V35.0036C21.5934 35.3332 21.3279 35.5987 20.9983 35.5987C20.6687 35.5987 20.4032 35.3332 20.4032 35.0036V20.9015ZM16.2017 20.3064C16.5193 20.3064 16.8012 20.5599 16.8042 20.8895L17.0786 34.9916C17.0831 35.3212 16.8206 35.5942 16.491 35.5986H16.479C16.1584 35.5986 15.8914 35.3406 15.8884 35.0155L15.614 20.9134C15.6095 20.5838 15.872 20.3138 16.2017 20.3064Z" fill="#76453B"/>
                      <path d="M9.33966 14.6419C9.33966 15.686 10.1883 16.5346 11.2323 16.5346H30.7662C31.8102 16.5346 32.6618 15.6859 32.6618 14.6419C32.6618 13.5979 31.8087 12.7493 30.7662 12.7493H11.2308C10.1868 12.7493 9.33813 13.5979 9.33813 14.6419H9.33966Z" fill="#76453B"/>
                      <path d="M23.3669 7.63635H18.63C16.9283 7.63635 15.5442 9.02044 15.5442 10.7192V11.5604H16.7344V10.7192C16.7344 9.67519 17.5831 8.82656 18.63 8.82656H23.3669C24.4139 8.82656 25.2625 9.67522 25.2625 10.7192V11.5604H26.4527V10.7192C26.4527 9.02193 25.0686 7.63635 23.3669 7.63635Z" fill="#76453B"/>
                  </svg>
              </button>
            </form>  
          {% endif %}
        </div>
        <div class="gotohome-btn">
          <a href="{% url 'course:course_list' %}" class="home-btn">추천 목록으로 가기</a>
        </div>
      </div>
      <footer>
        <nav class="bottom_nav">
          <div class="nav_item">
            <a href="{% url 'post:together_main' %}">
              <img src="{% static 'image/nav_people.svg' %}" class="nav_icon" />
              <span>함께걸음!</span>
            </a>
          </div>
          <div class="nav_item">
            <a href="{% url 'course:course_list' %}">
              <img src="{% static 'image/nav_find.svg' %}" class="nav_icon" id="nav_icon_margin_right" />
              <span>어디걸음?</span>
            </a>
          </div>
          <div class="nav_item">
            <a href="{% url 'course:calendar_view' %}">
              <img src="{% static 'image/nav_calendar.svg' %}" class="nav_icon" />
              <span>걸음캘린더</span>
            </a>
          </div>
          <div class="nav_item">
            <a href="{% url 'users:mypage_view' %}">
              <img src="{% static 'image/nav_socks.svg' %}" class="nav_icon" id="nav_icon_margin_right" />
              <span>마이걸음</span>
            </a>
          </div>
        </nav>
      </footer>
    </div>
  </body>
</html>
