{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/signup.css' %}">
    <title>걸음걸이</title>
</head>
<body>
    <div class="daily__layout">
        <div class="signup__container">
            <h1>Sign Up</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="signup__btn">Sign Up</button>
            <a href="{% url 'users:login' %}" class="signup__btn">
                back to login in
            </a>
            </form>
        </div>
    </div>
</body>
</html>