@import url("./root.css");

@font-face {
    font-family: 'VITRO INSPIRE OTF';
    font-style: normal;
    src: url('../fonts/VITRO INSPIRE OTF.otf') format('truetype');
}
@font-face {
    font-family: 'Kartrider Kor OTF';
    font-style: normal;
    src: url('../fonts/NEXON Kart Gothic Kor OTF Bold.otf') format('truetype');
}

body {
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.landing__layout {
    background: linear-gradient(180deg, #FFF3E9 0%, #FFF 100%);
}


.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.courserecommand-page-header-icon {
    text-align: start;
}

.courserecommand-title {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-family: 'Vitro Inspire OTF', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.home-icon {
    position: relative;
    top: 7px;
}

.course-recommand-introduction {
    text-align: start;
    color: var(--soft-red);
    font-family: 'Kartrider Kor OTF', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.courserecommand-title-firstword {
    color: var(--red);
}

.courserecommand-title-secondword {
    color: var(--soft-red);
}
#findButton {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-family: 'Kartrider Kor OTF';
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #d84315;
}

header i {
    margin-right: 10px;
}

.subtext {
    color: #d84315;
    margin-bottom: 20px;
}

.search-box {
    position: relative;
    width: 286px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25), 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 10px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.search-box i {
    color: #757575;
    font-size: 20px;
    margin: 0 5px;
}

.user-icon {
    color: #26a69a;
}

.keywords-container {
    position: relative; /* 상대 위치 기준 */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 30px; /* 아래 화살표와 겹치지 않게 여백 추가 */
    width: 317px;
}

.keywords {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
}

.keyword {
    background: var(--light-coral);
    color: var(--deep-brown);
    font-family: 'Kartrider Kor OTF', sans-serif;
    font-size: 19.963px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    box-shadow: 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25), 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    padding: 8px 12px;
    border-radius: 14.972px;
    font-size: 14px;
    cursor: pointer;
    width: 89px;
    height: 38.262px;
}

.keyword.active {
    background: #a1887f;
    color: white;
}

#loadMoreKeywords {
    margin-left: auto;
    display: inline-flex; /* 기본적으로 inline-flex로 설정하여 가로로 배치되도록 */
    align-items: center;  /* 세로 정렬 */
    background-color: transparent;  /* 배경색 제거 */
    box-shadow: none;               /* 그림자 제거 */
    border: none;                   /* 테두리 제거 */
}

#loadMoreKeywords {
    position: absolute;  /* 절대 위치 */
    top: 0;              /* 상단 고정 */
    right: -50px;            /* 우측 고정 */
    background-color: transparent;  /* 배경색 제거 */
    box-shadow: none;               /* 그림자 제거 */
    border: none;                   /* 테두리 제거 */
    cursor: pointer;
    font-size: 20px;
}

.find-btn {
    background: var(--soft-red);
    box-shadow: 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    padding: 12px 8px;
    font-size: 20px;
    border-radius: 14.972px;
    cursor: pointer;
}

.find-btn:hover {
    opacity: 0.7;
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 카드 배치 */
    gap: 10px;  /* 카드들 사이의 간격 */
    padding: 20px 0;  /* 상하 여백 */
    justify-items: center; /* 카드가 가운데로 정렬되도록 */
}

.tag {
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
}

.green {
    background: #26a69a;
    color: white;
}

.card {
    background: var(--white);
    color: var(--deep-brown);
    font-family: 'Kartrider Kor OTF', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1 1 30%;  /* 3개의 카드가 각각 30%의 공간을 차지 */
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);  /* 카드 크기 확대 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강하게 */
}

.recommend-btn {
    display: flex;
    gap: 10px;
    height: 46px;
    justify-items: center;
    align-items: center;
    margin: 10px auto;
    background: var(--deep-brown);
    font-family: 'Kartrider Kor OTF', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.recommend-btn:hover {
    background-color: #a02020;
}

.recommend-btn svg {
    position: relative;
    top: 3px;
}

.keywords {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.more-keywords .keyword {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
}

.keyword.active {
    background-color: #a1887f;
    color: white;
}

.course-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;  /* 카드 간의 간격 */
}

.course-image {
    border-radius: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-status {
    width: 70px;
}

.pagination-backward, .pagination-forward {
    display: inline-flex;  /* inline 요소이면서 flex 정렬 */
    align-items: center;   /* 세로축 가운데 정렬 */
    justify-content: center; /* 가로축 중앙 정렬 (필요하면 추가) */
}

.pagination-status {
    font-family: 'Kartrider Kor OTF', sans-serif;
    color: var(--deep-brown);
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    color: white;
}

.pagination span {
    align-self: center;
    font-size: 16px;
}

svg {
    cursor: pointer;  /* 마우스 커서가 손 모양으로 변경되어 클릭할 수 있음을 표시 */
    pointer-events: all;  /* 클릭 가능하도록 설정 */
}

.search-container {
    display: flex;
    justify-content: space-around;
}
.map-select-element {
    display: flex;
    gap: 75px;
}
#select-location {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9ABF80;
    color: var(--white);
    font-family: 'Kartrider Kor OTF', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    box-shadow: 0px 3.327px 3.327px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 8px 12px;
    border-radius: 14.972px;
    cursor: pointer;
    width: max-content; /* 크기 조정 */
    height: 54px;
    margin-top: 10px;
}

#select-location:hover {
    opacity: 0.7;
}

#map {
    height: 100%;
    width: 100%;
}
.map-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.map-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.close-btn {
    background: #a83232;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.hidden-footer {
    display: none;
}