@import url("../root.css");

@font-face {
  font-family: "VITRO INSPIRE OTF";
  font-style: normal;
  src: url("../fonts/VITRO_INSPIRE_OTF.otf") format("opentype");
}
@font-face {
  font-family: "Kartrider Kor OTF";
  font-style: normal;
  src: url("../fonts/NEXON_Kart_OTF_Bold.otf") format("opentype");
}

body {
  background: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__layout {
  background: linear-gradient(180deg, var(--background-beige) 0%, var(--white) 100%);
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 5px 20px 20px 20px;
}

.courserecommand-page-header-icon {
  text-align: start;
}

.courserecommand-title {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-family: "Vitro Inspire OTF", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.home-icon {
  position: relative;
  top: 7px;
}

.course-recommand-introduction {
  text-align: start;
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding-left: 7px;
  margin-bottom: 7px;
}

.courserecommand-title-firstword {
  color: var(--red);
}

.courserecommand-title-secondword {
  color: var(--soft-red);
}
#findButton {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-family: "Kartrider Kor OTF", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #d84315;
}

header i {
  margin-right: 10px;
}

.subtext {
  color: #d84315;
  margin-bottom: 20px;
}

.search-box {
  position: relative;
  width: 286px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  border-radius: 25px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25), 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 10px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  font-family: "Kartrider Kor OTF", sans-serif;
}

.search-box i {
  color: #757575;
  font-size: 20px;
  margin: 0 5px;
}

.user-icon {
  color: #26a69a;
}

.keywords-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 30px; /* 아래 화살표와 겹치지 않게 여백 추가 */
  width: 317px;
}

.keywords {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.keyword {
  background: var(--light-coral);
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25), 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  width: 89px;
  height: 38px;
}

.keyword.active {
  background: #a1887f;
  color: var(--white);
}

#loadMoreKeywords {
  margin-left: auto;
  display: inline-flex; /* 기본적으로 inline-flex로 설정하여 가로로 배치되도록 */
  align-items: center; /* 세로 정렬 */
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#loadMoreKeywords {
  position: absolute; /* 절대 위치 */
  top: 0; /* 상단 고정 */
  right: -65px; /* 우측 고정 */
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.find-btn {
  background: var(--soft-red);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  border: none;
  padding: 12px 8px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.find-btn:hover {
  opacity: 0.7;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 카드 배치 */
  gap: 10px;
  padding: 20px 0; /* 상하 여백 */
  justify-items: center;
}

.tag {
  background: var(--white);
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
}

.green {
  background: #26a69a;
  color: var(--white);
}

.card {
  background: var(--white);
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1 1 30%; /* 3개의 카드가 각각 30%의 공간을 차지 */
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* 카드 크기 확대 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강하게 */
}

.card > p {
  font-size: 14px;
}

.recommend-btn {
  display: flex;
  gap: 10px;
  height: 46px;
  justify-items: center;
  align-items: center;
  margin: 10px auto;
  background: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif, sans-serif;
  font-weight: 400;
  line-height: normal;
  color: var(--white);
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.recommend-btn:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}

.recommend-btn svg {
  position: relative;
  top: 3px;
}

.keywords {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.more-keywords .keyword {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
}

.keyword.active {
  background-color: #a1887f;
  color: var(--white);
}

.course-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* 카드 간의 간격 */
}

.course-image {
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-status {
  width: 70px;
}

.pagination-backward,
.pagination-forward {
  display: inline-flex; /* inline 요소이면서 flex 정렬 */
  align-items: center;
  justify-content: center;
}

.pagination-status {
  font-family: "Kartrider Kor OTF", sans-serif;
  color: var(--deep-brown);
}

.pagination a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  color: var(--white);
}

.pagination span {
  align-self: center;
  font-size: 16px;
}

svg {
  cursor: pointer;
  pointer-events: all; /* 클릭 가능하도록 설정 */
}

.search-container {
  display: flex;
  justify-content: space-around;
}
.map-select-element {
  display: flex;
  gap: 75px;
}
#select-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--soft-green);
  color: var(--white);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  width: max-content; /* 크기 조정 */
  height: 54px;
  margin-top: 10px;
}

#select-location:hover {
  opacity: 0.7;
}

#map {
  height: 100%;
  width: 100%;
}
.map-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.map-popup-content {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 68%;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.map_Btn {
  width: 100%;
}
.close-btn {
  background: var(--red);
  color: var(--white);
  padding: 5px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25), 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 14.972px;
  width: 100%;
}

.hidden-footer {
  display: none;
}

.map-search-box {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.link-ranking {
  position: absolute;
  left: 79.8%;
  top: 3.3%;
  z-index: 10;
}

.ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.656px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
  position: relative;
  top: -13px;
  left: -0.4px;
}
.to-ranking > svg {
  transition: transform 0.3s ease;
}
.to-ranking > svg:hover {
  transform: scale(1.1);
}

.home-icon > svg {
  transition: transform 0.3s ease;
}
.home-icon > svg:hover {
  transform: scale(1.1);
}

.wrapper {
  overflow-y: auto;
  padding-bottom: 140px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}

.search_button svg {
  margin-top: 8px;
}
