{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>걸음걸이_로그인</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/terms-of-service.css' %}" />
    <link rel="icon" href="{% static 'image/geoleum.png' %}">
  </head>

  <body>
    <div class="landing__layout">
      <div class="body_container">
        <div class="title">걸음걸이(geol-eum-geol-i) 서비스 이용약관</div>
        <div class="center">
          <div class="center_title">2.1. 서비스 이용 조건</div>
          <div class="center_content">
            걸음걸이 서비스 이용 시 본 약관에 동의한 것으로 간주합니다. 걸음걸이는 회원의 편의를 위해 구글 로그인을 제공하며, 구글의 개인정보처리방침이 별도로
            적용됩니다.
          </div>
          <div class="center_title">2.2. 서비스 이용 제한</div>
          <div class="center_content">
            다음과 같은 행위는 금지됩니다. <br />
            - 불법적인 정보의 게시 또는 전송 <br />
            - 타인의 개인정보 도용 <br />
            - 시스템 해킹 등 서비스 운영을 방해하는 행위
          </div>
          <div class="center_title">2.3. 책임의 제한</div>
          <div class="center_content">
            걸음걸이는 회원이 서비스 이용과 관련하여 입은 손해에 대해 책임을 지지 않습니다. 다만, 걸음걸이의 고의 또는 중대한 과실로 인한 경우에는 예외로
            합니다.
          </div>
          <div class="center_title">2.4. 약관 변경</div>
          <div class="center_content">걸음걸이는 필요에 따라 본 약관을 변경할 수 있으며, 변경된 약관은 웹사이트에 공지합니다.</div>
        </div>
      </div>
    </div>
  </body>
</html>
