@import url("../root.css");
body {
  background-color: var(--white);
}
.daily__layout {
  width: 100vw;
  background: var(--background-beige);
  margin-inline: auto;
  font-family: "VITRO INSPIRE OTF", sans-serif;
  position: relative;
}
.daily__container {
  width: 100%;
  height: 100dvh;
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
}

.daily__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.daily__icon_container {
  display: flex;
  width: 100%;

  padding-top: 10px;
}

.daily__back_to_main {
  margin-top: 8px;
  transition: transform 0.3s ease;
}

.daily__back_to_main:hover {
  transform: scale(1.1);
}

.daily__ranking > svg {
  margin-left: 1.5px;
  margin-top: 2px;
  transition: transform 0.3s ease;
}
.daily__ranking > svg:hover {
  transform: scale(1.1);
}
.daily__ranking-word {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  color: var(--red);
  position: relative;
  top: -9px;
  right: 5.8px;
}
.daily__date_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.daily__date {
  color: var(--soft-red);
  font-family: "VITRO INSPIRE OTF", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.daily__back_to_cale > svg {
  transition: transform 0.3s ease;
}
.daily__back_to_cale > svg:hover {
  transform: scale(1.1);
}
.daily__time_container {
  display: flex;
  align-items: flex-start;
}
.daily__time_info {
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  line-height: 28px;
}
.daily__both_time {
  display: flex;
  gap: 10px;
}
.daily__red {
  color: var(--red);
}
.daily__route_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 10px;
}
.daily__route_info_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.daily__route_info,
.daily__empty_alert {
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.daily__route_map > svg {
  transition: transform 0.3s ease;
}
.daily__route_map > svg:hover {
  transform: scale(1.1);
}
.walkForm > label {
  font-size: 16px;
  color: var(--soft-red);
  font-family: "Kartrider Kor OTF", sans-serif;
}
.daily__empty_alert {
  width: 60%;
  margin-inline: auto;
}
.daily__user_register {
  padding: 14px 20px;
  border: 2px var(--light-gray) solid;
  border-radius: 10px;
  background: var(--white);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.walkForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
.walkForm__img_info {
  margin-top: 2px;
  font-size: 12px;
  color: var(--gray);
  word-wrap: break-word; /* 단어가 길면 자동 줄바꿈 */
  overflow-wrap: break-word; /* 자동 줄바꿈 보조 */
  white-space: normal; /* 줄바꿈 허용 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  word-break: break-word; /* 줄 바꿈 시 단어를 자동으로 끊어줌 */
}
.walkForm > textarea {
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  font-family: "Kartrider Kor OTF", sans-serif;
  border: 2px var(--light-gray) solid;
  color: var(--gray);
}
.walkForm > button {
  border-radius: 18px;
  background: var(--deep-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 5px;
  width: 120px;
  margin-inline: auto;
  margin-block: 8px;
  font-family: "Kartrider Kor OTF", sans-serif;
  font-weight: 500;
  font-size: 18px;
  height: 40px;
}
.walkForm > button:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}
.daily__img_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image-input {
  display: none;
}
#file-name {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 43px;
  border-radius: 10.61px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  font-family: "Kartrider Kor OTF", sans-serif;
  color: var(--gray);
  border: 2px var(--light-gray) solid;
  text-overflow: ellipsis; /* 파일명이 너무 길면 '...' 처리 */
}
.custom-file-btn {
  padding: 10px 16px;
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--deep-brown);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 40px;
}
.custom-file-btn:hover {
  background: #a46d62;
  box-shadow: 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25), 0px 3.743px 3.743px 0px rgba(0, 0, 0, 0.25) inset;
  border: 2px solid var(--light-gray);
}
.daily__user_image {
  width: 70%;
  height: 220px;
  border: 2px var(--light-gray) solid;
  border-radius: 10px;
  margin-inline: auto;
  overflow: hidden;
}
.daily__user_comment {
  font-family: "Kartrider Kor OTF", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--deep-brown);
  margin-top: 10px;
}
.daily__user_image > img {
  width: 100%;
  height: 100%;
}
.comment__deco {
  font-family: "Nanum OenSonJabIDoYeBbeo", sans-serif;
  font-weight: 700;
  word-wrap: break-word; /* 단어가 길면 자동 줄바꿈 */
  overflow-wrap: break-word; /* 자동 줄바꿈 보조 */
  white-space: normal; /* 줄바꿈 허용 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  word-break: break-word; /* 줄 바꿈 시 단어를 자동으로 끊어줌 */
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
  position: relative;
}
.gps__title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Kartrider Kor OTF", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--soft-red);
  margin-bottom: 10px;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
  color: var(--gray);
}
#map {
  width: 100%;
  height: 500px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
  color: var(--deep-brown);
  font-family: "Kartrider Kor OTF", sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
}

.wrapper {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(118, 69, 59));
  border-radius: 6px;
  border-radius: 20px;
}

.link-ranking {
  position: absolute;
  left: 79.8%;
  top: 3.3%;
  z-index: 10;
}
